[user]
MNEMONIC_SEED = word word word word
[robot_vacuum]
IDS = ['vacuum.robot_vacuum']
MNEMONIC_SEED = word word word word
[temperature_sensor]
IDS = ['sensor.temperature_sensor_temperature', 'sensor.temperature_sensor_humidity']
MNEMONIC_SEED = word word word word
[lightbulb]
IDS = ['light.lightbulb']
MNEMONIC_SEED = word word word word