[user]
SEED = word word word word
[robot_vacuum]
IDS = ['vacuum.robot_vacuum']
SEED = word word word word
[temperature_sensor]
IDS = ['sensor.temperature_sensor_temperature', 'sensor.temperature_sensor_humidity']
SEED = word word word word
[lightbulb]
IDS = ['light.lightbulb']
SEED = word word word word